* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.first-page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: #000000 2s ease;
}

.navigation-page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 128px;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 88px;
  width: inherit;
  position: sticky;
  top: 0;
  padding: 24px 128px;
  width: 100vw;
}

.nav-item {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-right: 40px;
}

.who-iam-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  margin-top: 88px;
}

.about-me-container {
  display: flex;
  margin-top: 30px;
}

.what-ido {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.about-my-work {
  margin-top: 10px;
  padding-left: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.about-my-work-item {
  margin-top: 18px;
}

.skill-container {
  display: flex;
  flex-direction: column;
  margin-top: 88px;
}

.skill-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
}

.skill-list {
  margin-right: 12px;
}

.skill-list-container {
  margin-top: 20px;
}

.skill-seperator {
  height: 6px;
  width: 6px;
  color: #d9d9d9;
  margin-right: 12px;
}
