* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.first-page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: #000000 2s ease;
}

.navigation-page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 88px;
  width: inherit;
  position: sticky;
  top: 0;
  padding: 24px 128px;
  height: 100vh;
  width: 100vw;
}
