.navigation-page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 128px;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 98px;
  position: sticky;
  top: 0;
  padding: 24px 40px;
  width: 100vw;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}
.nav-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  margin-right: 40px;
}

.nav-item a {
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .navigation-page-container {
    padding-left: 5%;
  }
  .navigation-container {
    margin-left: 30px;
    padding: 24px 24px;
  }
  .nav-item {
    margin-right: 0;
  }
  .nav-container {
    display: flex;
    flex-direction: column;
  }
}
